
{% extends 'base.html.twig' %}

{% block title %}Hitema Escalade{% endblock %}

{% block body %}
{% block Navbar %}
{% include 'templatesite.html.twig' %}
{% endblock %}



<p>test</p>
{% endblock %}
