<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

        <link href="/css/site.css" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
        <script src="https://kit.fontawesome.com/088b93f8da.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block">
                <!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="\images\Projet escalade.png" width="200" height="auto" alt="">
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right textblc" id="myNavbar7">
            <ul class="navbar-nav ms-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link">VISITER</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">À PROPOS</a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-dark" href="{% if not app.user %}{{ path('app_login') }}{% else %}{{ path('dashboard') }}{% endif %}"><i class="fa-solid fa-user"> </i> Connexion</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
        {% endblock navbar %}
    </body>
</html>